src/flows/New_Customer_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Needs_Analysis</name>
        <choiceText>Needs Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prospecting</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Qualification</name>
        <choiceText>Qualification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Value_Proposition</name>
        <choiceText>Value Proposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Value Proposition</stringValue>
        </value>
    </choices>
    <formulas>
        <name>Current_Date_plus_one_month</name>
        <dataType>Date</dataType>
        <expression>if ((MONTH($Flow.CurrentDate)+1 ) &lt; 13,
$Flow.CurrentDate,
Date(YEAR($Flow.CurrentDate),1,DAY($Flow.CurrentDate)))</expression>
    </formulas>
    <formulas>
        <name>Opty_Name</name>
        <dataType>String</dataType>
        <expression>{!Company_Name}&amp;&apos;-&apos;&amp;{!Last_Name}</expression>
    </formulas>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_for_New_Customer_Flow</name>
        <label>Create Account for New Customer Flow</label>
        <locationX>375</locationX>
        <locationY>222</locationY>
        <assignRecordIdToReference>Account_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_for_New_Customer_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_for_New_Customer_Flow</name>
        <label>Create Contact for New Customer Flow</label>
        <locationX>372</locationX>
        <locationY>347</locationY>
        <assignRecordIdToReference>Contact_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity_for_New_Customer_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_for_New_Customer_Flow</name>
        <label>Create Opportunity for New Customer Flow</label>
        <locationX>371</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Current_Date_plus_one_month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opty_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Prospecting</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Get_New_Info_Screen_for_New_Customer_Flow</name>
        <label>Get New Info Screen for New Customer Flow</label>
        <locationX>372</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account_for_New_Customer_Flow</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>Prospecting</choiceReferences>
            <choiceReferences>Qualification</choiceReferences>
            <choiceReferences>Needs_Analysis</choiceReferences>
            <choiceReferences>Value_Proposition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_New_Info_Screen_for_New_Customer_Flow</startElementReference>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
